/**
 * Place your custom styles here.
 */

/*
Paleta de colores
https://color.adobe.com/es/create/color-wheel/?base=2&rule=Analogous&selected=2&name=Mi%20tema%20de%20Color&mode=rgb&rgbvalues=0.46700189633298184,1,0.5224061020268663,0.91,0.7564959437479998,0.5145503241582001,0.9467759479761891,0.7566732722788766,1,0.6430726777737777,0.91,0.8782696002683473,1,0.967335670055399,0.7066732722788767&swatchOrder=0,1,2,3,4
C3F5FF
CFA0E8
FF7A38
E8E228
2CFFBA
*/


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #000;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #030033;
}

  .navbar-default {
    background-color: #0f006f;
    border-color: #030033;
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF;  /*change color of links in drop down here*/
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }


  .navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
    }




h1{
    color: blue;

}

h2{
    color: cadetblue;

}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em
}
.mainTitle{
    width: 800px;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
}

.region-footer{
    display: inline;

}